{# Grille de cartes de recommandation. `recommendations` = list<Formation>. #}
<div data-controller="reveal" class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {% for formation in recommendations %}
        {{ include('recommendation/_card.html.twig', { formation: formation }) }}
    {% endfor %}
</div>
